.adminloginbtn{
    background-color:#FF9999;
}
.adminlogindesign{
    background-image:url("/images/adminlogin.jpg")
}
.emailboxad{
    background-color:#FF9999;
}
.passboxad{
    background-color:#FF9999;
}